
body{
  margin: 0 auto;
  font-family: "Yu Gothic Medium", YuGothic, sans-serif;
  max-width: 1350px;

}


.bg-image{
  background-image: url(bg4.jpg);
  background-size: cover;
}


header{
  display: flex;
  justify-content: space-between;
  height: 70px;

}

.headerlogo{
  padding: 8px 0 0 16px ;


}

.link{
  line-height: 70px;
  margin:0 0 0 auto;

}

a{
  text-decoration: none;
  margin: 0 16px;
  color: rgba(0, 0, 0, 0.698);
  background-color:#f2f2f2;
  padding: 12px;
  box-shadow: 8px 8px 20px rgb(112 112 112 / 20%), -8px -8px 20px #fff;
  border-radius: 30px;
  transition: .6s cubic-bezier(.16,.5,.43,1);
  font-weight: bold;
  font-family: 'ヒラギノ角ゴ Pro';

}

a:hover{
  box-shadow: 8px 8px 20px rgb(160 160 160 / 20%), -8px -8px 20px #fff, inset 4px 4px 10px rgb(160 160 160 / 20%), inset -4px -4px 10px #fff;
  transition: .6s cubic-bezier(.16,.5,.43,1);
}
.menuicon{
  padding: 16px 16px 0 0 ;
  display: none;
}

main{
  padding:30px 0;
  background: rgba(255, 255, 255, 0.567);
  border-bottom: black 1px solid double;
  display: flex;
  max-height: 600px;
  object-fit: cover;

}

.mypro{
  margin-left: auto;
}

main img{

object-fit: contain;
width: 60vw;
max-width: 100%;

}

main p{
  width: clamp(50px,calc(30vw + 50px),440px);
  font-weight: bold;
  font-size: clamp(20px,calc(5vw + 20px),96px );
  color: rgba(0, 0, 0, 0.750);
  transform: rotate(-90deg);
  border-left: solid rgba(0, 0, 0, 0.745) ;
  border-bottom: ridge rgba(220, 218, 62, 0.751) ;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 12px;
  margin-bottom:clamp(20px,calc(6vw + 20px),80px);
  margin-top: clamp(10px,calc(8vw + 10px),120px);
  font-family: 'ヒラギノ角ゴ Pro';

}

.yazirusi{
  margin: 100px 0;
  opacity: 0.7;
}

.yazirusi img {
  animation: infinite-scroll 2s ease-in-out infinite;
  display: inline-block;
}

/* 上下スクロールanimation */
@keyframes infinite-scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

section{
  text-align: center;
  animation: scrollanime linear;
  animation-timeline: scrollanime();

}
.toumei{
  background-color:rgba(255, 255, 255, 0.6);
}

@keyframes scrollanime{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

/* 四角 */
.square-animation {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

}

.square {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 1;
  border-radius: 20%;
  transition: transform 1s ease, opacity 1s ease;
  background-color:#020202b4;
  box-shadow: 8px 8px 20px rgb(112 112 112 / 30%), -8px -8px 20px #fff;
}

/* 四方-初期位置 */
.top-left {
  /* top: 100px; */
  top:60px;
  left: 80px;
}

.top-right {
  /* top: 100px; */
  top:60px;
  right: 80px;
}

.bottom-left {
  /* bottom: 100px; */
  bottom:60px;
  left: 80px;
}

.bottom-right {
  /* bottom: 100px; */
  bottom:60px;
  right: 80px;
}

.animate .top-left {
  transform: translate(-50px, -50px) rotate(345deg)  ;
  opacity: 1;
  animation: infinite;
}

.animate .top-right {
  transform: translate(50px, -50px) rotate(-345deg);
  opacity: 1;
}

.animate .bottom-left {
  transform: translate(-50px, 50px) rotate(-345deg);
  opacity: 1;
}

.animate .bottom-right {
  transform: translate(50px, 50px) rotate(345deg);
  opacity: 1;
}

h1{
  margin: 120px;
  font-size: 1.5em;
}

.box:nth-child(odd){
  display: flex;
  flex-direction: row-reverse;

}

.box-1{
  margin-top: 80px;
}

.box{
  display: flex;
  border: double black 1px;
  margin-bottom: 200px;
  background:rgba(255, 255, 255, 0.8)
}

.box img{
  object-fit: cover;
  max-width: 40vw;
  max-height: 1000px;
}

.box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 本文のレイアウト */

h2{
  text-align: left;
  border-bottom:solid rgba(0, 0, 0, 0.750) 4px;
  padding-left: 20px;

}
.message{
  margin-right: auto;
  width: 100%;
}

h3{
  text-align: left;
  margin-left: 30px;
  border-bottom: ridge rgba(0, 0, 0, 0.750);
  width: 40%;
}


.message p{
  text-align: left;
  margin-left: 60px;
  font-size: 16px;
}

.syoukaimain p{
  font-size: 20px;
}

li{
  text-align: left;
  font-size: 16px;
  margin-left: 18px;
}

.strengmain h3{
  width: 60%;
}

/* ここまで */



.show {
  opacity: 1;
  transform: translateY(0); /
}

footer {
  background-color: #222222e6;
  color: #ddd;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  text-align: left;
  display: flex;
  align-items: center;
}

.footer-logo img {
  margin-right: 10px;
}

.footer-logo p {
  font-size: 1.2em;
  color: #f2f2f2;
}

.footer-links{
  display: flex;
}

.footer-links a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 1em;
  transition: color 0.3s ease;
  padding: 2px;
  color: white;
  background: none;
  box-shadow: none;
}

.footer-links a:hover {
  color: #3498db;

}

.footer-bottom {
  border-top: 1px solid #646262;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.footer-bottom p {
  margin: 0;
}



@media (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo, .footer-links, .footer-social {
    margin-bottom: 20px;
  }

  .footer-links{
    display: inline-block;
  }
  .footer-links-2{
    margin-top: 16px;
  }


  /* メインのCSS */

  .myname{
    display: none;
  }

  .mypro{
    margin: 0 auto;
    text-align: center;
  }

.mypro img{
  width: 80vw;
}
  .mypro::after{
    content: "Kenya Daimon";
  font-size: 2em;
  color: rgba(0, 0, 0, 0.871);
  font-weight: bold;
  display: block;
  border-bottom: ridge  rgba(0, 0, 0, 0.745);
  width: 100%;
  margin-top: 6px;
  }


.box{
  display: block;

}


.box:nth-child(odd){
  display: block;

}

.box img{
  max-width: 600px;
  max-height: 400px;
  width: 100%;
}

 .box p{
  margin-right: 12px;
 }
}

/* ボックスのCSS */



@media(max-width:650px){



  .menuicon{
    display: inline-block;
    transition: transform 0.5s ease;
    cursor: pointer;
    transform-origin: 30%;
  }

  .menuicon.rotate {
    transform: rotate(90deg);
  }

   a{
    padding: 2px;
    color: white;
    background: none;
    box-shadow: none;
   }

   .link a:hover{
    box-shadow: 8px 8px 20px rgb(160 160 160 / 20%), -8px -8px 20px #fff, inset 4px 4px 10px rgb(160 160 160 / 20%), inset -4px -4px 10px #fff;
    transition: .6s cubic-bezier(.16,.5,.43,1);
    opacity: 0.7;
  }


   .link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index:100;
    top: 60px;
    right: 20px;
    width: 30%;
    background-color: rgba(58, 58, 58, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .link.open {
    max-height: 500px;
    opacity: 1;

  }

}
